/* colors from https://www.google.com/design/spec/style/color.html#color-color-palette, 500 strength */

$unknown: #607D8B;
$unknown-bg: #ECEFF1;

$new: #F44336;
$new-bg: #FFEBEE;

$seenbefore: #FF9800;
$seenbefore-bg: #FFF3E0;

$almostknown: #FFEB3B;
$almostknown-bg: #FFFDE7;

$wellknown: #4CAF50;
$wellknown-bg: #E8F5E9;

$ignored: #EEE;
$ignored-bg: #FAFAFA;